@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model VolumeCalculatorModel
<form asp-controller="VolumeCalculator" asp-action="DoCalculation" method="get">
    <body>
        <h1 class='text-center text-primary'>Volume Calculator</h1>
        <div class='container'>
            <div class="container">
                <div class="row">
                    <label asp-for="Result" class="text-black h1 col-lg-3"></label>
                    <h1 class='text-black col-lg-3'>: @Model.Result</h1>
                </div>
            </div>
            <div class='row'>
                <form class='form-group-lg form-inline' onsubmit='return false'>
                    <div class="row" style="margin-top: 10px">
                        <label asp-for="Height" class="col-lg-2"></label>
                        <input type="number" asp-for="Height" class="col-lg-2" />
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label asp-for="Width" class="col-lg-2"></label>
                        <input type="number" asp-for="Width" class="col-lg-2" />
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label asp-for="Wide" class="col-lg-2"></label>
                        <input type="number" asp-for="Wide" class="col-lg-2" />
                    </div>
                    <button onclick="location.href='@Url.Action("ClearExpression", "AreaCalculator")'"
                            class='btn btn-warning btn-lg' type='button' style="margin-top: 10px">
                        Clear
                    </button>
                    <button type='submit' class='btn btn-primary btn-lg' style="margin-top: 10px">Calculate</button>
                </form>
            </div>
        </div>
    </body>
</form>