html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Additional*/
.focusedInput {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.form-inline {
    text-align: center;
}

.col-xs-1 {
    margin-right: 8px;
    margin-top: 44px;
}

#small {
    margin-left: 2px;
}

h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-family: Georgia;
}

.btn {
    font-family: Georgia;
    font-size: 22px;
}

.btn-input {
    width: 48px;
}

input {
    text-align: right;
    font-family: cabin sketch;
}