@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AreaCalculatorModel
<form asp-controller="AreaCalculator" asp-action="DoCalculation" method="get">
    <body>
        <h1 class='text-center text-primary'>Area Calculator</h1>
        <div class='container'>
            <div class="container">
                <h1 class='text-black'>Result: @Model.Result</h1>
            </div>
            <div class='row'>
                <form class='form-group-lg form-inline' onsubmit='return false'>
                    <input asp-for=Height type='text' class='focusedInput form-control' style="margin-top: 10px">
                    <input asp-for=Width type='text' class='focusedInput form-control' style="margin-top: 10px">
                    <button onclick="location.href='@Url.Action("ClearExpression", "AreaCalculator")'"
                            class='btn btn-warning btn-lg' type='button' style="margin-top: 10px">
                            Clear
                    </button>
                    <button type='submit' class='btn btn-primary btn-lg' style="margin-top: 10px">Calculate</button>
                </form>
            </div>
        </div>
    </body>
</form>